body{
    background-color: rgb(219, 219, 219);
    font-family: sans-serif;
    font-size: 0,5cm
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkorange;
}
.pemail{
    color: blue;
}








/* Utilizar formatação das Tag da página "1DS-AB-PW-I-MatheusAraújo_2304-11.html" para definição de estilo de:
- cor de fundo;
- cor de fonte de cabeçalho;
- cor de fonte de texto;
- família de fonte para cabeçalho;
- família de fonte para texto;
- tamanho da fonte de texto;
*/

